.formstyle{
  margin-bottom: 1.5rem;
  margin-right: 0.1rem;
  width: 100%;
}

.clearfix{
  clear: both;
}

.submitButton{
  width:25%;
}

.search-wrapper{
  padding-left: 30%;
  padding-top : 15px;
}
